@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
  margin: 0;
  padding: 0;
}

.app{
  font-family: 'Poppins', sans-serif;
  input{
    font-family: 'Poppins', sans-serif;
  }
  overflow: hidden;


  .link{
    color: inherit;
    text-decoration: none;
  }
}