.cart{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100vw; 
  position: absolute;
  top: 88px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.364);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  padding-bottom: 10px;

  .cart-wrapper{
    padding-inline: 15px;
  }

  .products-wrapper{
    max-height: 238px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @include tablet-portrait{
    right: 0;
    width: 400px;
  }
  
  @include tablet-landscape{
    top: 67px;
  }

  h1{
    color: #000;
    font-weight: 400;
    font-size: 24px;
  }

  .item{
    display: flex;
    align-items: center;
    gap: 20px;

    img{
      width: 50px;
      object-fit: cover;
    }

    .details{
      display: flex;
      flex-direction: column;
      gap: 5px;
      h1{
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }

      p{
        margin: 0;
        color: #2f2f2f;
        font-size: 14px;
      }

      .price{
        color: #2879fe;
      }
    }

    .delete{
      color: red;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  button{
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #2879fe;
    color: wheat;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .reset{
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
}