.footer{
  padding: 50px;
  .top{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    @include tablet-portrait{
      grid-template-columns: 1fr 1fr;
    }
    @include tablet-landscape{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 50px;
    }

    .item{
      text-align: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 14px;
    }

    h1{
      font-size: 18px;
      font-weight: 500;
      color: #555;
    }

    span{
      color: #555;
    }
  }

  .bottom{
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    gap: 20px;
    @include tablet-landscape{
      margin-top: 30px;
      justify-content: space-between;
      flex-direction: row;
    }

    .left{
      display: flex;
      align-items: center;

      img{
        width: 100px;
      }

      .copyright{
        margin-left: 10px;
        font-size: 12px;
        color: #555;
      }
    }

    .right{
      width: 100%;
      max-width: 500px;
      img{
        width: 100%;
      }
    }
  }
}